/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/material.theme.css";

$bg-gray: #f3f5f7;

body{
  font-family: Arial, sans-serif;
}

.button {
  align-items: center;
  cursor: pointer;
  border: none;
  outline: none;
  min-width: 8em;
  line-height: 1.5;
  max-height: 2.5em;
  padding: 0.47rem 0.75rem;
  border: darken($bg-gray, 10) 1px solid;
  border-radius: 10px;
  background-color: darken($bg-gray, 5);
  display: flex;
  justify-content: center;
  &:hover {
    background-color: darken($bg-gray, 10);
  }
}

.button-primary  {
  border-color: transparent;
  padding: 25px 12px;
  background-color: mediumseagreen;
  color: #f2f2f2;
}

.button-dangerous  {
  border-color: transparent;
  padding: 25px 12px;
  background-color: indianred;
  color: #f2f2f2;
}

.button-secondary  {
  border-color: transparent;
  padding: 25px 12px;
  background-color: dimgrey;
  color: #f2f2f2;
}

.button-validate {
  border-color: transparent;
  padding: 25px 12px;
  background-color: yellowgreen;
  color: #f2f2f2;
}

th{
  background-color: mediumseagreen !important;
  color: white !important;
  border-top: black 1px solid;
  border-bottom: black 1px solid;
}

.display-card{
  background-color: white;
  width: 800px;
}

.label {
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-weight: bold;
  color: dodgerblue;
}

.form-group {
  margin-top: 0.5rem 1rem 1rem 0;
  display: flex;
  flex-direction: column;

  min-width: 30%;
  max-width: 30%;
  p {
    margin: 0;
    font-size: 1em;
  }
}
