@import "../../../styles.scss";

.transferModal {
  box-sizing: border-box;
  background-color: whitesmoke;
  border-radius: 1em;
  border: 3px solid black;
  box-shadow: grey;
  width: 100%;
  min-width: 30em;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.content{
  padding: 1em;
  width: 60em;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.button-primary{
  margin-top: 1rem;
}

.form-group{
  margin-bottom: 0rem;
  width: 50em;

  display: flex;
  flex-direction: column;
}

.transfer-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: available;
}

.result{
  background-color: limegreen;
  color: #333333;
  border-radius: 10px;
  border: 2px solid #333333;

}

.label{
  margin-top: 1rem;
}




.negative{
  color: darkred;
}

.positive{
  color: darkgreen;
}
